@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
// $color: rgb(236, 18, 87);
// // background: rgb(236,18,87);
// $background: linear-gradient(
//   90deg,
//   rgba(236, 18, 87, 1) 0%,
//   rgba(123, 8, 102, 1) 100%
// );
// $backgroundver: linear-gradient(
//   180deg,
//   rgba(236, 18, 87, 1) 0%,
//   rgba(123, 8, 102, 1) 100%
// );

// DARK MODE COLORS
// 0F0F0F - black
// 232D3F - less black
//
$dark: #0f0f0f;
$lessdark: #232d3f;

.tooltip {
  position: relative;
  display: inline-block;
  img {
    cursor: pointer;
  }
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #ec1257;
  color: #fff;
  border-radius: 8px;
  padding: 8px 13px;
  position: absolute;
  // width: 3.4rem;
  transform: translate(-95%, 140%);
  z-index: 1;
  font-size: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 1s ease-in;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 40%;
  border-width: 8.66px;
  border-style: solid;
  border-color: transparent transparent #ec1257;
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  visibility: visible;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #7b0866 0%,
    #ec1257 51%,
    #7b0866 100%
  );
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  // box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.text {
  font-family: "Abril Fatface", sans-serif;
  background: linear-gradient(to right, #1b0517, #ec1257, #7b0866);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 1);
  transition: color 0.2s ease-in-out;
}
.text:hover {
  color: rgba(0, 0, 0, 0);
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
// DARK MODE TEXT
.text.dark {
  font-family: "Abril Fatface", sans-serif;
  background: linear-gradient(to right, #1b0517, #ec1257, #7b0866);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.2s ease-in-out;
  color: rgb(255, 255, 255, 1);
}
.text.dark:hover {
  color: rgba(255, 255, 255, 0);
}
// .text:hover {
//   background-position: right center; /* change the direction of the change here */
//   color: #fff;
//   text-decoration: none;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app.dark {
  background-color: $lessdark;
}
.app {
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  font-family: "Abril Fatface", sans-serif;

  // font-family: "Roboto", sans-serif;
  min-height: 100vh;

  .container {
    // width: 70%;
    //LOGIN AND REGISTER

    .auth {
      // border: 1px solid red;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: scale(1.1);
      background-color: $lessdark;

      h1 {
        font-size: 28px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        min-width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid #7b0866;
          outline-color: #ec1257;
        }
        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
        }
        span {
          font-size: 12px;
          text-align: center;
        }
        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }
      }
    }
    //NAVBAR
    .navbar.dark {
      background-color: $lessdark;
    }
    .navbar {
      min-width: 70vw;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      z-index: 2;
      // position: sticky;
      top: 0;
      background-color: white;
      // border: 1px solid red;
      border-radius: 0px 0px 10px 10px;
      .container {
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          align-items: center;
          display: flex;
          gap: 20px;

          img {
            width: 50px;
            height: auto;
            border-radius: 50%;
            object-fit: cover;
          }

          a {
            text-decoration: none;
          }

          h6 {
            font-size: 16px;
            font-weight: 100;
            // letter-spacing: 2px;
            text-transform: uppercase;
          }
          span {
            cursor: pointer;
          }
          .write {
            .writelink {
              color: white;
            }
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid white;
            background-image: linear-gradient(
              to right,
              #7b0866 0%,
              #ec1257 51%,
              #7b0866 100%
            );
            margin: 10px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            box-shadow: 0 0 20px #eee;
            &:hover {
              // color: #008080;
              // background-color: white;
              // border: 1px solid teal;
              background-position: right center; /* change the direction of the change here */
              text-decoration: none;
            }
          }
        }
      }
    }

    //FOOTER
    footer {
      margin-top: 10rem;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      img {
        height: 65px;
      }
    }

    //HOME
    .home.dark {
      background-color: $lessdark;
    }
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img.dark {
            background-color: $lessdark;
            img {
              box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
            }
          }
          .img {
            flex: 2;
            position: relative;
            background-color: white;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }
            img {
              width: 23rem;
              object-fit: cover;
              height: 25rem;
              border-radius: 1rem;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
          }
          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1.text {
              font-size: 48px;
            }
            p {
              font-size: 18px;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
            }
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }

    //SINGLE POST

    .single {
      min-height: 100vh;
      display: flex;
      gap: 50px;
      margin: 2rem 0rem;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 1rem;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          span.dark {
            color: white;
          }
          span {
            font-weight: bold;
          }
          p.dark {
            color: white;
          }
        }
        .edit {
          display: flex;
          gap: 5px;
          a {
            text-decoration: none;
          }
          svg.dark {
            color: white;
          }
          svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
            color: rgb(40, 40, 40);
            transition: all 0.2s ease-in-out;
            &:hover {
              transform: translateY(-5px);
            }
          }
        }

        h1 {
          font-size: 42px;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      //MENU

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1.dark {
          color: white;
        }
        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }

          h2.dark {
            color: white;
          }
          h2 {
            color: #414141;
          }
          a {
            text-decoration: none;
          }
          button {
            width: max-content;
            border: none;
            cursor: pointer;
          }
        }
      }
    }

    //WRITE
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          font-size: 16px;
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer.dark {
          background-color: white;
          color: black;
        }
        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 14px;
          color: #555;
          gap: 8px;

          h1.dark {
            color: white;
          }
          span.dark {
            color: white;
          }
          h1 {
            font-size: 22px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;
            button {
              cursor: pointer;
              background-color: white;
              border: none;
              padding: 8px 15px;
              font-size: 14px;
              border-radius: 5px;
            }
          }

          .cat {
            display: flex;
            align-items: center;
            gap: 2px;
            // color: teal;
          }
        }
      }
    }

    //COMMENT
    .comments {
      margin: 2rem 0rem;
      h2.dark {
        color: white;
      }
      h2 {
        font-size: 28px;
        font-weight: 700;
      }

      .addComment.dark {
        color: white;
      }
      .addComment {
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 15px;
        margin: 30px 0;
        input {
          font-size: 16px;
          padding: 10px;
          border: 1px solid #7b0866;
          height: auto;
          border-radius: 5px;
          outline-color: #ec1257;
        }

        button {
          font-size: 16px;
          border: none;
          cursor: pointer;
        }
      }
      .comment {
        .user {
          // border: 1px solid red;
          display: flex;
          height: auto;
          padding: 2px;
          margin: 20px 0;
          .userImg {
            margin-bottom: auto;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .userInfo.dark {
            color: white;
          }
          .userInfo {
            span {
              font-size: 16px;
            }
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
